In [4]:
import pandas as pd
import pymysql
import numpy as np

In [ ]:
users = pd.read_csv('main/BX-CSV-Dump/BX-Users.csv', sep=';', quotechar="\"", escapechar="\\", encoding='latin_1')
books = pd.read_csv('main/BX-CSV-Dump/BX-Books.csv',  sep=';', quotechar="\"", escapechar="\\", encoding='latin_1')
book_ratings = pd.read_csv('main/BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', quotechar='\"', escapechar='\\', encoding='latin_1')

In [6]:
db = pymysql.connect('localhost', 'root', 'password', 'books_recommend',charset='utf8')
cursor = db.cursor()

In [7]:
sql = 'select distinct user_id from main_rating'
cursor.execute(sql)
cursor.fetchall()

((1,),
 (2,),
 (3,),
 (4,),
 (5,),
 (6,),
 (7,),
 (8,),
 (9,),
 (10,),
 (11,),
 (12,),
 (13,),
 (14,),
 (15,),
 (16,),
 (17,),
 (18,),
 (19,),
 (20,),
 (21,),
 (22,),
 (23,),
 (24,),
 (25,),
 (26,),
 (27,),
 (28,),
 (29,),
 (30,),
 (31,),
 (32,),
 (33,),
 (34,),
 (35,),
 (36,),
 (37,),
 (38,),
 (39,),
 (40,),
 (41,),
 (42,),
 (43,),
 (44,),
 (45,),
 (46,),
 (47,),
 (48,),
 (49,),
 (50,),
 (51,),
 (52,),
 (53,),
 (54,),
 (55,),
 (56,),
 (57,),
 (58,),
 (59,),
 (60,),
 (61,),
 (62,),
 (63,),
 (64,),
 (65,),
 (66,),
 (67,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (75,),
 (76,),
 (77,),
 (78,),
 (79,),
 (80,),
 (81,),
 (82,),
 (83,),
 (84,),
 (85,),
 (86,),
 (87,),
 (88,),
 (89,),
 (90,),
 (91,),
 (92,),
 (93,),
 (94,),
 (95,),
 (96,),
 (97,),
 (98,),
 (99,),
 (100,))

In [12]:
count = 0
for i in range(1, 101):
    user = users.loc[i]
    sql = 'insert into main_user(id, username, name, location, age) values(%s, %s, %s, %s, %s)'
    count += 1
    try:
        cursor.execute(sql, (str(i), 
                             str(i),
                             'user of ' + str(user['User-ID']),
                             user['Location'] if not pd.isnull(user['Location']) else 'default',
                             str(np.nan_to_num(user['Age'], -1))))
        db.commit()
        if count % 10000 == 0:
            print("sent " + str(count))
    except Error:
        print(Error)

In [5]:
cursor.close()
db.close()

In [20]:
users.tail()

        User-ID                            Location   Age
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

In [21]:
user = users.loc[1]

In [22]:
user

User-ID                             2
Location    stockton, california, usa
Age                                18
Name: 1, dtype: object

In [23]:
str(user['Age'])

'18.0'