In [10]:
import pymysql
import pandas as pd

In [11]:
book_ratings = pd.read_csv('main/ml-latest-small/ratings.csv')

In [12]:
book_ratings.tail()

       userId  movieId  rating  timestamp
15293     100      780     3.0  854193977
15294     100      786     3.0  854194056
15295     100      802     4.0  854194111
15296     100     1073     5.0  854194056
15297     100     1356     4.0  854194086

In [13]:
db = pymysql.connect('localhost', 'root', 'password', 'books_recommend',charset='utf8')
cursor = db.cursor()

In [15]:
for i in range(0, book_ratings.shape[0]):
    rating = book_ratings.loc[i]
    sql = 'insert into main_rating( user_id, book_id, rating) values(%s, %s, %s)'
    try:
        cursor.execute(sql, (str(rating['userId']), 
                             str(rating['movieId']),
                             str(rating['rating'])))
        db.commit()
    except Error:
        print('some i ' + str(i))
        print(Error)

In [16]:
    cursor.close()
db.close()

In [17]:
book_ratings.tail()

       userId  movieId  rating  timestamp
15293     100      780     3.0  854193977
15294     100      786     3.0  854194056
15295     100      802     4.0  854194111
15296     100     1073     5.0  854194056
15297     100     1356     4.0  854194086

In [18]:
rating = book_ratings.loc[1]

In [26]:
rating['Book-Rating']

5

In [27]:
str(rating['Book-Rating'])

'5'